body {
  background-color: gainsboro;
  font-family: "open sans", "segoe ui";
}
body .search-area {
  padding-top: 100px;
}
body .heart {
  color: #E74C3C;
}
body a {
  color: #22A7F0;
}
body .creation-area {
  margin-top: 20px;
}
body #dataset {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
}
body #dataset tr {
  border: 1px solid black;
}
